/* Xcode */
.xcode {
    width: 100%;
    height: 692px;
    /* (692/768)*100 */
    height: 90.104166666666667vh;
    background: linear-gradient(#F2F2F2, #D5E4F3);
    padding-top: 88px;
    /* (88/768)*100 */
    padding-top: 11.458333333333333vh;
    text-align: center;
}
.xcode li div {
    /* (687/1440)*100 */
    width: 687px;
    width: 47.083333333333333vw;
    height: 401px;
    /* (401/768)*100 */
    height: 52.213541666666667vh;
    margin: 0 auto;
}
.xcode li div>img {
    width: 100%;
    height: auto;
}
.xcode h4 {
    font-size: 56px;
    /* (56/768)*100 */
    font-size: 7.291666666666667vh;
    color: #1d1d1d;
    font-weight: 600;
    margin-bottom: 72px;
    /* (72/768)*100 */
    margin-bottom: 9.375vh;
}